.card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.body-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 10px;
  }
  @media  screen and (max-width:576px){
    .card {
      
      grid-template-columns: 1fr;
    }
    .body-container {
   
      grid-template-columns:  1fr;
     
    }
  }
  @media  screen and (min-width:577px) and (max-width:768px){
    .card {
      
      grid-template-columns: repeat(2, 1fr);
    }
    .body-container {
   
      grid-template-columns: 1fr;
     
    }
  } 